<!DOCTYPE html>
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'folivora/css/screen.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div>
          <a class="brand" href="#">Folivora</a>
          <ul class="nav">
            <li><a href="{% url 'folivora_index' %}"><i class="icon-home"></i> {% trans 'Dashboard' %}</a></li>
            <li><a href="{% url 'folivora_project_list' %}"><i class="icon-beaker"></i> {% trans 'Projects' %}</a></li>
            <li><a href=""><i class="icon-cog"></i> {% trans 'Preferences' %}</a></li>
          </ul>
          <ul class="nav pull-right">
          {% if not user.is_authenticated %}
            <li><a href="{% url 'registration_register' %}">{% trans 'Register' %}</a></li>
            <li><a href="{% url 'django.contrib.auth.views.login' %}"><i class="icon-signin"></i> {% trans 'Login' %}</a></li>
          {% else %}
            <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="icon-signout"></i>{% trans 'Logout' %}</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% block body %}
    {% endblock body %}
  </body>
</html>
