<!DOCTYPE html>
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'folivora/css/screen.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div>
          <a class="brand" href="{% url 'folivora_index' %}">Folivora</a>
          <ul class="nav">
            <li><a href="{% url 'folivora_dashboard' %}"><i class="icon-dashboard"></i> {% trans 'Dashboard' %}</a></li>
            <li><a href="{% url 'folivora_project_list' %}"><i class="icon-beaker"></i> {% trans 'Projects' %}</a></li>
            <li><a href="{% url 'folivora_profile_edit' %}"><i class="icon-cog"></i> {% trans 'Preferences' %}</a></li>
          </ul>
          <ul class="nav pull-right">
          {% if not user.is_authenticated %}
            <li><a href="{% url 'registration_register' %}">{% trans 'Register' %}</a></li>
            <li><a href="{% url 'django.contrib.auth.views.login' %}"><i class="icon-signin"></i> {% trans 'Login' %}</a></li>
          {% else %}
            <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="icon-signout"></i>{% trans 'Logout' %}</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <button class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% block body %}
    {% endblock body %}
    <div class="container">
      <hr>
      <footer>&copy; rocketDuck 2012</footer>
    </div>
    {% block scripts %}
      <script type="text/javascript" src="{% static 'folivora/js/jquery-1.8.0.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'folivora/js/bootstrap-alert.js' %}"></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $(".alert").alert();
        $('form input:visible:first').focus();
      });
      </script>
    {% endblock scripts %}
  </body>
</html>
