{% extends 'page.html' %}
{% load floppyforms %}
{% load i18n %}
{% block headline %}{% trans 'Login' %}{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  {% form form using 'floppyforms/layouts/bootstrap.html' %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans 'Login' %}</button>
    <button class="btn" type="reset">{% trans 'Reset' %}</button>
  </div>
</form>
<script type="text/javascript">document.forms[0].id_username.focus();</script>
{% endblock content %}
