{% extends 'page.html' %}
{% load floppyforms %}
{% load url from future %}
{% load i18n %}
{% block headline %}{% trans 'Confirm password reset' %}{% endblock headline %}
{% block content %}
<form method="post" action="">
  {% csrf_token %}
  {% form form using 'floppyforms/layouts/bootstrap.html' %}
  <div class="form-actions">
    <button class="btn btn-danger" type="submit">{% trans 'Save' %}</button>
    <button class="btn" type="reset">{% trans 'Reset' %}</button>
  </div>
</form>
{% endblock content %}
