{% extends 'page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}
<div class="hero-unit">
  <h1>{% trans 'Welcome to Folivora' %}</h1>
  <div id="promoCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img alt="" src="{% static 'folivora/img/promo/dashboard.png' %}">
        <div class="carousel-caption">
          <h3>{% blocktrans %}Keep an eye on your projects.{% endblocktrans %}</h3>
          <p>{% blocktrans %}Never forget or oversee an available update of your Python projects.{% endblocktrans %}</p>
        </div>
      </div>
      <div class="item">
        <img alt="" src="{% static 'folivora/img/promo/create_project.png' %}">
        <div class="carousel-caption">
          <h3>{% blocktrans %}Manage your projects on your own.{% endblocktrans %}</h3>
          <p>{% blocktrans %}You get to create projects and can decide who has access to them.{% endblocktrans %}</p>
        </div>
      </div>
      <div class="item">
        <img alt="" src="{% static 'folivora/img/promo/preferences.png' %}">
        <div class="carousel-caption">
          <h3>{% blocktrans %}Fully localized...{% endblocktrans %}</h3>
          <p>{% blocktrans %}... cause you'll never know when you need it.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#promoCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#promoCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <p style="margin-top:20px">{% blocktrans %}You get to define your projects with their dependencies and we will check for you if there are any updates available for your packages. If we find updates, we will notify you promplty. Creating a project is just a 'pip freeze' call away. Try it with the demo user (password: demo, username: demo).{% endblocktrans %}</p>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
  <script type="text/javascript" src="{% static 'folivora/js/bootstrap-carousel.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel()
  });
  </script>
{% endblock scripts %}
