{% extends 'page.html' %}
{% load floppyforms %}
{% load i18n %}
{% block headline %}{% trans 'Edit Project' %}{% endblock %}
{% block content %}
<span id="add_member_button" class="btn btn-info pull-right">{% trans 'Add member' %}</span>
<div id="add_member" style="display:none;">
  <form action="{% url folivora_project_member_add project.slug %}" method="post">
    {% csrf_token %}
    {% form add_member_form using 'floppyforms/layouts/bootstrap.html' %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans 'Append' %}</button>
      <button class="btn">{% trans 'Cancel' %}</button>
    </div>
  </form>
</div>

<form class="form-horizontal" action="" method="post">
  <h2>{% trans 'Edit members:' %}</h2>
  {% csrf_token %}
  {{ member_form.management_form }}
  <table id="member_table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>{% trans 'Member' %}</th>
        <th>{% trans 'State' %}</th>
        <th class="span1">{% trans 'Delete' %}</th>
      </tr>
    </thead>
    <tbody>
    {% for f in member_form.forms %}
      <tr>
        {% include 'folivora/project_edit_member_row.html' with username=f.instance.user.username state=f.state%}
      </tr>
    {% endfor %}
      <tr id="empty_member_row" style="display:none">
        {% include 'folivora/project_edit_member_row.html' with f=member_form.empty_form username='USERNAME' %}
      </tr>
    </tbody>
  </table>

  <h2>{% trans 'Edit packages:' %}</h2>
  {{ dep_form.management_form }}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>{% trans 'Package' %}</th>
        <th>{% trans 'Version' %}</th>
        <th class="span1">{% trans 'Delete' %}</th>
      </tr>
    </thead>
    <tbody>
    {% for f in dep_form.forms %}
      <tr>
        <td>{{ f.id }}{{ f.instance.package.name }}</td>
        <td>{{ f.version }}</td>
        <td>{{ f.DELETE }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans 'Update project' %}</button>
    <button class="btn" type="reset">{% trans 'Cancel' %}</button>
  </div>
</form>
{% endblock content %}
