{% extends 'page.html' %}
{% load floppyforms %}
{% load i18n %}
{% block headline %}{% trans 'Edit dependencies' %}{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% form form using 'floppyforms/layouts/bootstrap.html' %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans 'Update dependencies' %}</button>
      <a class="btn" href="{% url folivora_project_update project.slug %}">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock content %}
