{% extends 'page.html' %}
{% load floppyforms i18n %}
{% block headline %}{% trans 'Append member' %}{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% form form using 'floppyforms/layouts/bootstrap.html' %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans 'Append member' %}</button>
      <a class="btn" href="{% url folivora_project_update project.slug %}">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock content %}
