{% extends 'page.html' %}
{% load floppyforms %}
{% load i18n %}
{% block headline %}{% trans 'Create project' %}{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% form form using 'floppyforms/layouts/bootstrap.html' %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans 'Add project' %}</button>
    <button class="btn" type="reset">{% trans 'Reset' %}</button>
  </div>
</form>
{% endblock content %}
