{% extends 'page.html' %}
{% load floppyforms %}
{% load i18n %}
{% block headline %}{% trans 'Edit Dependencies' %}{% endblock %}
{% block content %}
<div id="add_dependency">
  <form action="" method="post">
    {% csrf_token %}
    {% form form using 'floppyforms/layouts/bootstrap.html' %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans 'Update dependencies' %}</button>
      <button class="btn">{% trans 'Cancel' %}</button>
    </div>
  </form>
</div>
{% endblock content %}
