{% extends 'page.html' %}
{% load url from future %}
{% load i18n %}
{% block headline %}<i class="icon-beaker"></i> {% trans 'Projects' %}<a href="{% url 'folivora_project_add' %}" class="btn btn-primary pull-right">{% trans 'Add project' %}</a>{% endblock %}
{% block content %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        {% include 'folivora/sort.html' with url='folivora_project_list' field='name' verbose_name=_('Name') %}
      </th>
      <th>
        {% trans 'Actions' %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
      <tr>
        <td>
          <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        </td>
        <td class="span1">
          {% if user in project.owners %}
          <a href="{% url 'folivora_project_update' project.slug %}" title="{% trans 'edit' %}"><i class="icon-edit"></i></a>
          <a href="{% url 'folivora_project_delete' project.slug %}" title="{% trans 'delete' %}"><i class="icon-trash"></i></a>
          {% endif %}
          <a href="{% url 'folivora_project_resign' project.slug %}" title="{% trans 'resign' %}"><i class="icon-leaf"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
