{% extends 'page.html' %}
{% load floppyforms %}
{% load i18n %}
{% block headline %}<i class="icon-cog"></i> {% trans 'Preferences' %}{% endblock %}
{% block content %}
<!--
  Current time: {% now 'DATETIME_FORMAT' %}
  Translations are working: {% trans 'password' %}
-->
<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  {% form form using 'floppyforms/layouts/bootstrap.html' %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>
    <button class="btn" type="reset">{% trans 'Cancel' %}</button>
  </div>
</form>
{% endblock content %}
