@import "bootstrap";

body > .navbar .navbar-inner {
  border-radius: 0px;
}

.log {
  min-height: 40px;
}


.hero-unit {
  h1 {
    margin-bottom: 20px;
  }
  .carousel {
    margin: auto;
    width: 640px;
    p, h3 {
      color: white;
    }
  }
}

